numpy<2.0
tqdm
gym
pytz
tensorboard
six
simplejson
Pillow
matplotlib
seaborn
stable_baselines3
sb3_contrib
ipython
omegaconf
scipy
scikit-learn
pyflann-py3
trl
jsonlines
bitsandbytes
wandb
peft
accelerate
peft
transformers
deepspeed
azure-storage-blob
azure-identity
azure-keyvault
openai
sumo-rl
supersuit
pyvirtualdisplay
cython==0.29.37
mujoco-py<2.2,>=2.1
patchelf
citylearn
# mujoco